# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 LOONIS Wennaël

apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ app_name }}"
  name: "{{ app_name }}"
  namespace: "{{ app_namespace }}"
spec:
  type: ClusterIP
  ports:
  - name: web
    port: {{ app_port }}
    protocol: TCP
    targetPort: web
  selector:
    app: "{{ app_name }}"