# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 LOONIS Wennaël

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: "{{ app_name }}"
  namespace: "{{ app_namespace }}"
spec:
  selector:
    matchLabels:
      app: "{{ app_name }}"

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

  template:
    metadata:
      labels:
        app: "{{ app_name }}"

    spec:
      terminationGracePeriodSeconds: 15
      hostPID: true

#      initContainers:
#      - name: wait-for-batch
#        image: bitnami/kubectl:latest
#        command:
#          - sh
#          - -c
#          - |
#            kubectl wait --for=condition=complete job/countingapp-test --timeout=600s

      containers:
      - name: "{{ app_name }}"
        image: "{{ app_name }}:{{ app_version }}"
        args: ["serve"]
        imagePullPolicy: Never

        env:
        - name: DISPLAY
          value: ":0"
        - name: DELAY_LAST_CLASS
          value: "120"
        - name: HISTORY_HEARTBEAT_S
          value: "10"

        ports:
        - name: web
          containerPort: {{ app_port }}

        volumeMounts:
        - name: dev-video0
          mountPath: /dev/video0
        - name: dev-app
          mountPath: /app
        - name: files
          mountPath: /files
        - name: conf
          mountPath: /conf
        - name: dev-x11
          mountPath: /tmp/.X11-unix
        - name: docker-sock
          mountPath: /var/run/docker.sock

        securityContext:
          privileged: true

        resources:
          requests:
            cpu: "500m"
            memory: "2Gi"
            nvidia.com/gpu: 1
          limits:
            cpu: "2"
            memory: "4Gi"
            nvidia.com/gpu: 1

      volumes:
      - name: dev-app
        hostPath:
          path: "{{ app_path }}"
          type: Directory

      - name: dev-video0
        hostPath:
          path: "{{ video_device }}"

      - name: files
        hostPath:
          path: "{{ files_path }}"
          type: Directory

      - name: conf
        hostPath:
          path: "{{ conf_path }}"
          type: Directory

      - name: dev-x11
        hostPath:
          path: /tmp/.X11-unix

      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock