# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 LOONIS Wennaël

apiVersion: batch/v1
kind: Job
metadata:
  name: countingapp-validate
  namespace: "{{ app_namespace }}"
spec:
  ttlSecondsAfterFinished: 86400
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: countingapp-validate
    spec:
      restartPolicy: Never
      terminationGracePeriodSeconds: 0
      containers:
      - name: countingapp-validate
        image: "{{ app_name }}:{{ app_version }}"
        command: ["/app/entrypoint.sh"]
        args: ["validate"]
        imagePullPolicy: Never
        env:
        - name: RESULT_JSON_PATH
          value: /files/result.json
        - name: VALIDATE_VIDEO
          value: "{{ validate_video }}"
        volumeMounts:
        - name: dev-app
          mountPath: /app
        - name: filebrowser
          mountPath: /files
        - name: docker-sock
          mountPath: /var/run/docker.sock
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: "500m"
            memory: "2Gi"
            nvidia.com/gpu: 1
          limits:
            cpu: "2"
            memory: "4Gi"
            nvidia.com/gpu: 1
      volumes:
      - name: dev-app
        hostPath:
          path: "{{ app_path }}"
          type: Directory
      - name: filebrowser
        hostPath:
          path: "{{ files_path }}"
          type: Directory
      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock