apiVersion: batch/v1
kind: CronJob
metadata:
  name: rollingvideofile
  namespace: "{{ app_namespace }}"
spec:
  schedule: "0 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: rollingvideofile
            image: busybox:1.28
            imagePullPolicy: IfNotPresent
            command:
            - /bin/sh
            - -c
            - |
              cd /data
              ls -t | awk 'NR>{{ max_log_files }}' | xargs rm -f
              find /data -type f -size +1G -delete
            volumeMounts:
            - name: filebrowser
              mountPath: /data
            securityContext:
              runAsUser: 0
            resources:
              limits:
                memory: "500Mi"
                cpu: "500m"
              requests:
                memory: "100Mi"
                cpu: "100m"
          restartPolicy: OnFailure
          volumes:
          - name: filebrowser
            hostPath:
              path: "{{ files_path }}"
              type: Directory