---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebrowser-quantum-config
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: filebrowser-quantum
data:
  config.yaml: |
    # https://github.com/gtsteffaniak/filebrowser/wiki/Full-Config-Example
    server:
      disableUpdateCheck: true
      port: {{ filebrowser_port }}
      baseURL: "{{ filebrowser_base_url }}"
      logging:
        - levels: "info|warning|error"
      cacheDir: "{{ filebrowser_cache_dir }}"
      database: "{{ filebrowser_database }}"
      sources:
        - path: "{{ filebrowser_srv_path }}"
          config:
            defaultEnabled: true
      filesystem:
        createFilePermission: "664"
        createDirectoryPermission: "775"
    auth:
      adminUsername: "{{ filebrowser_admin_username }}"
    userDefaults:
      preview:
        image: true
        popup: true
        video: false
        office: false
        highQuality: false
      darkMode: true
      disableSettings: false
      singleClick: false
      permissions:
        admin: false
        modify: false
        share: false
        api: false