# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 LOONIS Wennaël

---
apiVersion: v1
kind: Secret
metadata:
  name: filebrowser-quantum
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: filebrowser-quantum
stringData:
  FILEBROWSER_ADMIN_PASSWORD: {{ filebrowser_admin_password }}